/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS DEBUG

Header color #0084fd
Section 1 card color #b5ddff
Section 1 icon color #0084fd
Section 2 bg color #9792e4
Footer bg color #333333 */

/********************************* 
    GENERICS
*********************************/
img{
    max-width: 100%;
}

ul{
    list-style: none;
}

.btn{
    border: 1px solid transparent;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

/********************************* 
    UTILS
*********************************/

.container{
    max-width: 1300px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.container-small{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-xsmall{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-xxsmall{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 2rem 1rem;
}


.pad-top-big{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.pad-top-small{
    padding-top: 3rem;
    padding-bottom: 5rem;
}

/* Text */

.text-center{
    text-align: center;
}

/********************************* 
    HEADER
*********************************/

.site-header{
    background-color: #0084fd ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-header .row{
    justify-content: space-between;
    align-items: center;
}

.site-header ul>li{
    margin-left: 1.5rem;
    color: white;
}

.hamburger-menu{
    display: none;
    font-size: 2rem;
    color: white;
}



/********************************* 
   MAIN
*********************************/

/* Section Demo application */

section.demo-application{
    background-color: white;
}

.demo-application .row{
    flex-wrap: wrap;
    gap: 1rem;
    column-gap: 1rem;
}

.demo-application .col-big{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3 * 2 - 1rem);
    padding: 2rem 1rem 0 1rem;
    background-color: #b5ddff ;
    border-radius: 20px;
}

.demo-application .col{
    width: calc(100% / 3 - 1rem );
    background-color: #b5ddff ;
    border-radius: 20px;
}

.demo-application .card-text{
    width: 50%;
}

.demo-application .card-img {
    width: 50%;
}

.demo-application .card-img img{
    width: 65%;
}
/* Text */

.demo-application .card h4,
.demo-application .card-text h4{
    color: #0084fd;
    font-size: 1.3rem;
    font-family: arial;
    padding-bottom: 1.3rem;
}

.demo-application .card i{
    font-size: 5rem;
    color: #0084fd;
    padding-bottom: 1.3rem;
}

.demo-application .card p, 
.demo-application .card-text p{
    color: #5a6e7f;
    font-size: 1rem;
    font-family: arial;
    font-weight: 600;
    line-height: 1.3rem;
    padding-bottom: 1.3rem;
}

/* Section strategic plan */

.strategic-plan{
    background-color: #9792e4 ;
}

.strategic-plan .row{
    align-items: flex-end;
}

.strategic-plan .col{
    width: 50%;
    padding: 2.6rem;
}
.strategic-plan .card img{
    width: 50%;
}

.strategic-plan .card{
    background-color: white;
    border-radius: 20px;
    padding: 1rem 2rem;
    color: black;
}

.icon-arrow{
    width: 50px;
    height: 50px;
    padding: 1rem;
    background-color: #9792e4;
    border-radius: 50%;
}

/* Section TESTIMONIALS */

.testimonials{
    background-color: white;
}

.testimonials .col{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #9792e4;
    border-radius: 20px;
    padding: 2rem 1rem;
    margin: 1rem 0;
}

.testimonials .col .round-img{
    width: 30%;
    flex-shrink: 0;
    padding-left: 1rem;
    margin-right: 1rem;
}

.testimonials .col .round-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* Section Benefits */

.benefits{
    background-color: #9792e4;
}

.benefits .row{
    row-gap: 3rem;
    justify-content: space-between;
}

.benefits .col{
    background-color: white;
    border-radius: 20px;
    width: calc(100% / 3 - 2rem);
}

/* Section About */

.about .col.text-about{
    width: calc(70% - 2rem);
    padding: 0 1rem;
    margin-right: 2rem;
}

.about .col.profile-about{
    width: 30%;
}

.about .col.profile-about img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.about p{
    margin: 2.5rem 0;
    line-height: 2rem;
}

/* Section get started */

.started{
    background-color: #9792e4;
    padding: 3rem 0;
    line-height: 3rem;
}

/********************************* 
   FOOTER
*********************************/
footer{
    background-color:#333333 ;
    padding: 3rem 0;
}



/********************************* 
   MEDIA QUERIES
*********************************/

/* ---Tablet vision---- */

@media screen and (max-width:769px){

    .container{
        max-width: 100%;
    }
/* Header */
    .col-nav{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }
    
/* Section Demo Application */
    .col-big .card-text,
    .col-big .card-img{
        width: 100%;
    }

    .col-big .card-img img{
        width: 50%;
        padding-top: 1.3rem;
    }

    /* Section strategic plan */

    .strategic-plan .col{
        width: 100%;
    }

    .strategic-plan .col img{
        width: 80%;
    }

    /* Section BENEFITS */

    .benefits .col{
        width: calc(100% / 2 - 2rem);
    }

}

/* ---Mobile vision---- */
@media screen and (max-width:481px){

/* Section Demo Application */
    .demo-application .row{
        flex-direction: column;
    }

    .demo-application .col{
        width: 100%;
    }

    .demo-application .col-big{
        width: 100%;
        text-align: center;
    }

    .col-big .card-img img{
        width: 80%;
    }

    /* Section strategic plan */

    .strategic-plan .row{
        flex-direction: column;
    }

    /* Section TESTIMONIALS */

    .testimonials .col{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
    
    .testimonials .col .round-img{
        width: 100%;
        margin-bottom: 1rem;
        padding-left: 0;
    }

    /* Section BENEFITS */

    .benefits .col{
        width: 100%;
    }

    /* Section ABOUT */

    .about .col.text-about{
        width: 100%;
    }
    
    .about .col.profile-about{
        width: 100%;
    }

}


